{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %} - Welcome {% endblock %}

{% block content %}
<!-- Showcase -->
<section id="showcase">
    <div class="container text-center">
        <div class="home-search p-5">
            <div class="overlay p-5">
                <h1 class="display-4 mb-4">
                    One shop stop for all your "books"
                </h1>
                <p class="lead">
                    Try our awesome book shop and order now your favorite book.
                </p>
                <div class="search">
                    <form action="{% url 'search' %}">
                        <!-- Form Row 1 -->
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label class="sr-only">Keywords</label>
                                <input type="text" name="keywords" class="form-control"
                                    placeholder="Keyword (OS, Digital, etc)">
                            </div>

                            <div class="col-md-4 mb-3">
                                <label class="sr-only">Author</label>
                                <input type="text" name="author" class="form-control" placeholder="Author">
                            </div>

                            <div class="col-md-4 mb-3">
                                <label class="sr-only">Publication</label>
                                <select name="publication" class="form-control">
                                    <option selected="true" disabled="disabled">Publication (All)</option>
                                    {% for p in publication_choices %}
                                        <option value="{{ p }}">{{ p }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Form Row 2 -->
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="sr-only">Publication Year</label>
                                <select name="published_year" class="form-control">
                                    <option selected="true" disabled="disabled">Publication Year (All)</option>
                                    {% for y in published_year_choices %}
                                        <option value="{{ y }}">{{ y }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <select name="price" class="form-control" id="type">
                                    <option selected="true" disabled="disabled">Max Price (Any)</option>
                                    {% for price in price_choices %}
                                        <option value="{{ price }}">{{ price }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<br>
<!-- Alerts -->
{% include 'partials/_alerts.html' %}


<!-- Book Listings -->
<section id="listings" class="py-5">
    <div class="container">
        <h3 class="text-center mb-3">Latest Books</h3>
        <div class="row">
            <!-- loop -->
            {% if books %}
                {% for book in books %}
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card listing-preview">
                            <img class="card-img-top" src="{{ book.photo.url }}" alt="">
                            <div class="card-img-overlay">
                                <h2>
                                    <span class="badge badge-secondary text-white">&#8377;{{ book.price | intcomma }}</span>
                                </h2>
                            </div>
                            <div class="card-body">
                                <div class="listing-heading text-center">
                                    <h4 class="text-primary">{{ book.title }}</h4>
                                    <p>
                                        <i class="fas fa-user-graduate text-secondary"></i> {{ book.author }}
                                    </p>
                                </div>
                                <hr>
                                <div class="row py-2 text-secondary">
                                    <div class="col-12">
                                        <i class="fas fa-calendar-check"></i> <strong>Published Year: </strong>{{ book.published_year }} 
                                    </div>
                                    <div class="col-12">
                                        <i class="fas fa-business-time"></i> <strong>Publication: </strong> {{ book.publication }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row py-2 text-secondary">
                                    <div class="col-12">
                                        <i class="fas fa-user"></i> {{ book.seller }}
                                    </div>
                                </div>
                                <div class="row text-secondary pb-2">
                                    <div class="col-12">
                                        <i class="fas fa-clock"></i> {{ book.listing_date | timesince }}
                                    </div>
                                </div>
                                <hr>
                                <a href="{% url 'book' book.id %}" class="btn btn-primary btn-block">More Info</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <p>No Books Available.</p>
                </div>
            {% endif %}
        </div>
    </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <i class="fas fa-comment fa-4x mr-4"></i>
                <hr>
                <h3>Contact With Seller</h3>
                <p>
                    You can contact with the seller of the book. You can ask any question regarding the book. We will be happy to help you.
                </p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-book fa-4x mr-4"></i>
                <hr>
                <h3>Discover Books</h3>
                <p>
                    We have a wide range of books available for you. You can choose from a variety of books. No matter what your taste is, we have something for you.
                </p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-user fa-4x mr-4"></i>
                <hr>
                <h3>Renting & Selling</h3>
                <p>
                    Our team of professionals are always ready to help you with your queries. You can contact us at any time.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
